*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 80%;
    margin: auto;
}
.card {
    width: 25%;
    height: 250px;
    display: inline-block;
    text-align: center;
    background-color: rgb(129, 37, 8);
    border: 2px solid white;
    color: white;
    font-size: 30px;
    position: relative;



}
.text {
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:  rgb(150, 66, 19);
    padding-top: 100px;


}

.cache {
    background-color: rgb(150, 66, 19);
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;

}

.afficher { /* Cache*/
    display: none;
}
